@model projet_clement.Models.HomeModel



<div class="container" style="align-content:center">
    <form method="post" action="~/CreationAuteur/CreationAuteur">
        <h3>Formulaire de création d'auteur</h3>
        <abbr title="ce champ est obligattoire">Nom de l'auteur*:</abbr> <input type="text" name="Nom" required /><br />
        <br />
        <abbr title="ce champ est obligattoire">Prénom de l'auteur*:</abbr><input type="text" name="Prenom" required /><br />
        <br />
        Date de naisance: <input type="text" name="Naissance" /><br />
        <br />
        N° de téléphone: <input type="text" name="Numero" /><br />
        <br />
        Département de naissance: <input type="text" name="Departement" /><br />
        <br />
        <input type="submit" class="btn btn-primary" value="Ajouter" />
        <a href="/Home/Index">retourner à la page d'accueill</a>
    </form>



    <h3>Pour rappel voila un tableau des auteurs déjà créés</h3>

    <table>
        <tr>
            <td>Nom</td>
            <td>Prenom</td>
            <td>Date de naissance</td>
            <td>N° de téléphone</td>
            <td>Département de naissance</td>
            <td>UserId</td>
        </tr>
        @foreach (var i in Model.UserList)
        {
            <tr>
                <td>@i.Nom</td>
                <td>@i.Prenom</td>
                <td>@i.Naissance</td>
                <td>@i.Numero</td>
                <td>@i.Departement</td>
                <td>@i.userId</td>
            </tr>
        }

    </table>
</div>


