@model projet_clement.Models.HomeModel


@foreach (var i in Model.AllArticles)
{
    <div style="border: 1px solid black; padding:40px; margin:40px;">

        <form method="post" action="~/Home/EditPosts/@i.id">
            <h3>Formulaire de rentrée d'un auteur </h3>

            <p>Nom</p>
            <input type="text" name="Titre" value="@i.titre" />


            <p>Prénom</p>
            <input type="text" name="contenu" value="@i.contenu" />
            <br />
            <br />
            <select name="userId">
                <option value="@i.userId">@i.Users.Nom @i.Users.Prenom</option>
                @foreach (var u in Model.UserList.Where(x=> x.userId != i.userId))
                {
                    <option value="@u.userId" >@u.Nom @u.Prenom</option>
                }
              
            </select>

            <br />
            <br />
            <input type="submit" value="Valider" />

        </form>
    </div>
}
